body {
  font-family: "Open Sans", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*Header and Nav Styles*/
.menu-first {
  background-color: #1e426e;
  justify-content: flex-end;
}
.menu-first li {
  text-transform: uppercase;
  padding: 0.938rem;
  border-left: 0.25rem solid white;
}
.menu-first ul li a {
  color: white;
  text-decoration: none;
}
.menu-first ul li:hover {
  background-color: #789f4d;
}
h1 {
  color: #214470;
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1.25rem;
}
.menu-second ul {
  font-size: 1.25rem;
  padding: 1.25rem;
  margin-top: 0.5rem;
  text-transform: uppercase;
}
.menu-second ul li a {
  color: #183f6b;
  text-decoration: none;
  padding-right: 1rem;
}
.menu-second ul a:hover {
  color: #78a04d;
  text-decoration: underline;
}

/* Hero Banner*/
.hero-banner {
  background-image: url("../img/img-community/banner-community.jpg");
  background-position: center;
  background-size: cover;
  height: calc(100vh - 7.65rem);
  margin-bottom: 1.25rem;
}

/*Main Section Styles*/
section:nth-of-type(1) h2 {
  font-size: 1.75rem;
  text-align: center;
  font-weight: bold;
  padding: 1.25rem;
}
section:nth-of-type(1) p:nth-of-type(1) {
  font-weight: bold;
  padding: 1rem 0;
}
main section .community-info > div {
  width: 32%;
  line-height: 2.4;
  margin-top: 1.25rem;
}
main section .community-info img {
  width: 100%;
  height: 65%;
  display: block;
}
main section .community-info a {
  display: block;
  text-decoration: none;
  color: white;
  background-color: #1e426e;
  padding: 0.5rem;
}

main section .community-info a:hover {
  background-color: #2a5ea5;
}

/* Bottom Banner*/
.bottom-banner {
  background-image: url("../img/img-community/building-stronger.webp");
  background-position: center;
  background-size: cover;
  height: 45vh;
  justify-content: flex-end;
}
.banner-content {
  background-color: rgba(242, 246, 250, 0.7);
  width: 50%;
  height: 85%;
  margin-top: 1.25rem;
}
.banner-content h2 {
  font-size: 1.75rem;
  font-weight: bold;
  padding: 2rem;
  text-align: center;
  text-transform: uppercase;
}
.banner-content p {
  padding: 0 1rem 1rem;
}
.banner-content a {
  color: #0d4899;
  text-decoration: none;
  padding: 0 1rem 1rem;
}
.banner-content a:hover {
  color: #78a04d;
}

/* Footer styles*/
footer {
  background-color: #e8f4f9;
  font-size: 1.15rem;
}
footer p {
  padding: 1.25rem;
}
.menu-last li a {
  text-decoration: none;
  color: #183f6b;
  justify-items: right;
}
.menu-last ul li a:hover {
  color: #78a04d;
}
.menu-last li {
  text-decoration: none;
  padding: 1.25rem 0.625rem;
}
.menu-last {
  margin-right: 0;
}

/* Media Queries */
@media screen and (max-width: 720px) {
  .flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .menu-first ul li {
    width: 15%;
  }
  .menu-second ul li {
    padding-right: 1.875rem;
  }

  .hero-banner {
    height: calc(100vh - 14rem);
  }
  main section .community-info > div {
    width: 90%;
    height: 60%;
  }
  .banner-content {
    width: 90%;
    height: 90%;
  }
  .bottom-banner {
    height: 35vh;
    align-items: center;
    margin-top: 1.25rem;
  }
}
@media screen and (min-width: 720px) and (max-width: 960px) {
  .flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .menu-first ul,
  .menu-second ul,
  .menu-last ul {
    justify-content: center;
  }
  .hero-banner {
    height: calc(100vh - 7.65rem);
  }
  main section .community-info {
    gap: 1.25rem;
  }
  main section .community-info > div {
    width: 26%;
    font-size: 0.625rem;
  }
  .banner-content {
    width: 70%;
    height: 80%;
  }
  .bottom-banner {
    align-items: center;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
